.learn-main {
  &-frame {
    &--top {
      &-background {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(18, 17, 19);
        height: 500px;
        &--about {
          padding: 20px;
          border: 5px solid rgb(129, 125, 125);
          color: white;
          width: 800px;
          height: 400px;
          #about {

          }
          #description {
            padding: 20px;
          }
        }
        &--image {
          opacity: 0.3;
        }
      }
    }
    &--mid {
      &-info {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
      }
      
    }
    &--bottom {
      &-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title {
          color: white;
          font-family: serif;
        }
        &--lists {
          min-width: 80%;
          #contents-lists {
            display: flex;
          }
        }
      }
      
    }
  }
}